@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

